<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application>

        <activity android:name="is.yranac.canary.widget.ConfigurationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name="is.yranac.canary.widget.MyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBQkttpEqeHHV5CcM6hz-7wdmtPjnhNaCg" />
    </application>

</manifest>